/* 

--- 01 TYPOGRAPHY SAYSTEM

- Font weights:
Default: 400
Medium: 500
semi bold: 600
bold: 700

-Line heights
Default: 1
small: 1.05
mediumn 1.2
paragraph default: 1.6

-Letter spacing
-0.5px
0.75px
FONT SIZE SYSTEM (PX)

10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


--- 02 COLORS

Primary: #e67e22

Tints:
#fdf2e9
Shades:
Accents:
Greys: 
#555
#333

--- 05 SHADOWS

--- 06 BORDER_RADIUS

--- 07 WHITESPACE

SPACING SYSTEM (PX)

2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* ******************* */
/* NAVIGATION */
/* ******************* */

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

/* .main-nav-list {
  background-color: rgba(255, 255, 255, 0.719);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 4.8rem;
  font-size: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
} */

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}

.main-nav {
  display: inline-block;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  background-color: #e67e22;
  border-radius: 9px;
  padding: 1.2rem 1.6rem;
  color: white;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #d3731f;
}
/* ******************* */
/* HEADER */
/* ******************* */

.header {
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;

  /* Because we want 
  header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
  transition: all 3s;
}

.header-fixed-pos {
  position: fixed;
  width: 100%;
  background-color: #fdf2e9cb;
  z-index: 12;
}

.logo {
  height: 2.2rem;
}

/* ******************* */
/* HERO SECTION */
/* ******************* */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}

.hero {
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;

  border-radius: 50%;
  margin-right: -1.2rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:nth-child(6) {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivered-text span {
  color: #d3731f;
}

/* ******************** */
/* HOW IT WORKS SECTION */
/* ******************** */

.section-how {
  padding: 8rem 0 9.6rem 0;
  margin-right: 0 auto;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.step-img {
  max-width: 35%;
  min-width: 100px;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  padding-bottom: 60%;
  /* height: 60%; */
  background-color: #fdf2e9;
  border-radius: 50%;
  z-index: -1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::after {
  content: "";
  display: block;
  width: 50%;
  /* padding 50% uses 50% of parent's width */
  padding-bottom: 50%;

  background-color: #f7d7bd;
  border-radius: 50%;
  z-index: -1;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-text-box {
  align-self: center;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.6;
}

/* ***************** */
/* FEATURED SECTION */
/* ***************** */

.featured-section {
  padding: 4.8rem 0 3.2rem 0;
  border-top: 3px solid #f7d7bd;
  border-bottom: 3px solid #f7d7bd;
  position: relative;
}

.featured-section .container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.featured-imgs-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3.2rem 0;
}

.featured-img {
  max-width: 100%;
  filter: brightness(0);
  opacity: 50%;
}

.featured-img:hover {
  opacity: 100%;
  filter: brightness(1);
  transition: all 0.5s;
}

.featured-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  color: #777;

  font-size: 1.4rem;
  letter-spacing: 0.75px;
  font-weight: 600;
}

.featured-link:active,
.featured-link:visited,
.featured-link {
  max-width: 15%;
}

/* ************** */
/* MEALS SECTION */
/* ************** */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.085);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.meal:hover {
  transform: translate(0, -1.6rem);
  /* transform: scale(106%); */
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}
.meal-tags {
  margin-bottom: 1.2rem;
}
.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #59ec72;
}
.tag--paleo {
  background-color: #ffd43b;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-atributes {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
  font-size: 1.8rem;
}

.meal-atribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.diet-container {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 1rem 2rem;

  /* border: dotted 1px #e67e22; */

  box-shadow: 0 2.4px 4.8px rgb(230, 126, 34, 0.2);
  border-radius: 9px;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;

  height: 100%;
  justify-content: flex-end;
  gap: 1.6rem;
  padding: 1rem 1rem 4.8rem 1.6rem;
}

.diet-icon {
  height: 2.2rem;
  filter: invert(50%) sepia(100%) saturate(423%) hue-rotate(346deg)
    brightness(94%) contrast(91%);
}
.list li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.all-recipes {
  text-align: center;
  grid-column: 2 / 3;
}

/* ********************* */
/* TESTIMONIALS SECTION */
/* ********************* */
.section-testimonials {
  background-color: #fdf2e9;

  margin-bottom: 9.6rem;
}

.testimonial-section-container {
  grid-template-columns: 60fr 40fr;
  /* align-items: center;
  justify-content: center; */
  justify-items: center;
  align-items: center;
  gap: 0;
}
.testimonials {
  row-gap: 4.8rem;
  column-gap: 8rem;
  line-height: 1.8;
  justify-content: space-around;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem;
}
.testimonial-left-side {
  padding: 9.6rem;
}
.gallery-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.gallery-img:hover {
  transform: scale(110%);
}

.gallery {
  gap: 1.2rem;
  padding: 1.2rem;
}

.unresizable-div {
  max-width: 27rem;
  max-height: 27rem;
  overflow: hidden;
}

.customer-img {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}

.customer-review {
  font-size: 1.8rem;
}

.customer-name {
  font-size: 1.6rem;
  color: #777;
  font-style: italic;
}

/* *************** */
/* PRICING SECTION */
/* *************** */

.cards-container {
  display: flex;
  gap: 6.4rem;
  justify-content: center;
}
.plan-card {
  height: 56rem;
  max-width: 40rem;
  padding: 2.2rem 4.4rem;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 5.2rem;
  border-radius: 9px;
  border: #f7d7bd solid 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.plan-card.complete {
  background-color: #fdf2e9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  border: none;
  position: relative;
  overflow: hidden;
}

.recomended {
  background-color: hsla(47, 100%, 62%, 0.863);
  color: #333;
  padding: 1.3rem 3.2rem;
  font-weight: 600;
  font-size: 1.6rem;
  position: absolute;
  top: 4%;
  right: -10%;
  transform: rotate(45deg);
}

.pricing-list {
  justify-items: left;
  margin-top: 4.8rem;
  gap: 1.6rem;
  font-size: 2rem;
  line-height: 1.8rem;
}

.pricing-list li {
  display: flex;
  gap: 1.2rem;
}

.price {
  font-size: 6.2rem;
  font-weight: 700;
}
.price span {
  font-size: 3.6rem;
  font-weight: 500;
}

.plan-name {
  font-size: 2.4rem;
  font-weight: 600;
}
.name-and-price {
  padding-top: 3.2rem;
  gap: 2.4rem;
  flex-direction: column;
  align-items: center;
}
.price-per-month {
  font-size: 1.6rem;
}
.cta-button {
  background-color: #e67e22;
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 1.6rem;
  color: white;
  padding: 1.8rem 3.6rem;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  transition: all 0.3s;
}

.cta-button:hover {
  background-color: #d3731f;
  transform: scale(105%);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.pricing-icon {
  color: #e67e22;
}

/* .pricing-icon.not-included {
  color: rgb(168, 28, 28);
  color: #d3731f;
} */

.taxes-info {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 9.6rem;
}

.flex-container {
  gap: 4.2rem;
  justify-content: space-between;
}
.flex-item {
  flex-direction: column;
  gap: 1.6rem;
}

.pricing-feature-icon {
  width: 3.2rem;
  height: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.4rem;
  border-radius: 50%;
}

.pricing-feature-heading {
  font-size: 2.4rem;
  margin-bottom: 0;
}
.pricing-feature-text {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

.pricing-section {
  padding: 9.6rem 0;
}

/* CTA SECTION */

.section-cta {
  padding: 4.8rem 0 12.8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #e67e22;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 9px;
  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  /* temp */

  overflow: hidden;
}

.cta-text-box {
  padding: 6.4rem;
  padding-top: 4.8rem;
  color: #45260a;
}

#cta-heading {
  color: #45260a;
  margin-bottom: 4.8rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.3),
      rgba(230, 125, 34, 0.3)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.cta-form input,
.cta-form select {
  color: inherit;
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  border: none;
  border-radius: 9px;
  background-color: #fdf2e9;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  border: inherit;
  box-shadow: inherit;
  cursor: pointer;
  font-family: inherit;
}

.button--form {
  background-color: rgb(69, 38, 10);
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.button--form:hover {
  background-color: rgba(107, 59, 16, 0);
  box-shadow: inset 0 0 0 2px rgba(69, 38, 10, 1);
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 8px #f3d4ba77;
}

/* *************** */
/* FOOTER */
/* *************** */

.footer {
  padding: 12.8rem 0 9.6rem 0;
  border-top: #e1e1e1 1px dotted;
}

.footer-nav {
  list-style: none;
  flex-direction: column;
  gap: 2.4rem;
}
.footer-heading {
  font-size: 1.8rem;
  color: #555;
  font-weight: 500;
  margin-bottom: 4.8rem;
}
.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}

.logo-col {
  flex-direction: column;
  gap: 1.2rem;
  align-items: flex-start;
  justify-content: space-between;
}

.adress-col {
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}
.social-links {
  width: 100%;
  justify-content: space-between;
  gap: 0.2rem;
  list-style: none;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
  filter: brightness(0);
  opacity: 0.5;
  transition: filter 0.3s, opacity 0.5s;
}

.social-icon:hover {
  opacity: 100%;
  filter: brightness(1);
}

.copyright,
.contacts p,
.contacts a {
  font-size: 1.6rem;
  color: #767676;
}
.contacts {
  flex-direction: column;
  gap: 2.4rem;
}

.links-p {
  line-height: 1.6;
}

footer .grid--5-cols {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.button-for-nav {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  display: none;
  top: 3vh;
  right: 7vw;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  position: absolute;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.fixed {
  position: fixed;
  box-shadow: none;
}
